* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px auto;
}

.gallery :hover{
    cursor: url(../icon.svg#cursor-icon), pointer;
}

.gallery li {
  list-style-type: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  gap: 0px;
  opacity: 0px;
  transition: all ease-in 0.2s;
}

.gallery-image:hover {
  scale: 1.05;
}

